<style>
</style>

<div role="main">
  <header>
    <div id="header-logo-wrapper">
      <img id="logo" src="assets/gsm-logo.png" alt="광주소프트웨어마이스터고등학교">
    </div>
  </header>
  <a target="_blank" rel="noopener noreferrer" href="https://www.gstar.or.kr/">
    <section id="g-star-section">
      <img id="main-image" src="assets/main-image.png" alt="main-image">
      <img id="gstar-image" src="assets/gstar-image.png" alt="gstar-image">
    </section>
  </a>
  <section id="devfest-section" style="background-image: url(assets/devfest.jpg);">
    <img id="devfest-title" src="assets/devfest-logo.png" alt="devfest">
    <div id="event-list">
      <a *ngFor="let event of events" target="_blank" rel="noopener noreferrer" [href]="event.hyperLink">
        <div class="event-info" style="background-size: cover">
          <span class="event-title">{{ event.title }}</span>
          <span class="event-date">📅{{ event.date }}</span>
          <span class="event-price">{{ event.price }}</span>
          <span class="event-location">@ {{ event.location }}</span>
        </div>
      </a>
    </div>
  </section>
  <section id="footer-section">
    <div id="general-title">Coming Soon!</div>
    <div id="message">현재 전공 행사 안내 사이트가 미숙한 점 양해 부탁드립니다...😿😰 앞으로 더 풍성한 사이트가 될 때까지 여유를 가지고 기다려주세요!</div>
  </section>
</div>

<router-outlet></router-outlet>