<style>
</style>

<div role="main">
  <header>
    <div id="wrapper">
      <img id="logo" src="assets/gsm-logo.png" alt="광주소프트웨어마이스터고등학교">
    </div>
  </header>
  <section>
    <h1 class="title">Events</h1>
    <div class="list">
      <app-events></app-events>
    </div>
  </section>
  <section>
    <h1 class="title">Crawleds</h1>
    <div class="list">
      <app-crawleds></app-crawleds>
    </div>
  </section>
  <section>
    <h1 class="title">Let us know!</h1>
    <user-fetcher></user-fetcher>
  </section>
</div>

<router-outlet></router-outlet>