<!DOCTYPE html>
<html lang="kr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
  <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
  <title>DevEvents</title>
</head>

<body>
  <header>
    <img id="logo" src="images/gsm-logo.png" alt="광주소프트웨어마이스터고등학교">
  </header>
  <a target="_blank" rel="noopener noreferrer" href="https://www.gstar.or.kr/">
    <section id="g-star-section">
      <img id="g-star-icon" src="images/faker.png" alt="">
      <img id="main-title" src="images/title.png" alt="">
    </section>
  </a>
  <a>
    <section id="devfest-section">
      <img id="devfest-title" src="images/devfest-logo.png" alt="">
    </section>
  </a>
  <a>
    <section id="others-section">
      <div id="contents">
      </div>
    </section>
  </a>
</body>

</html>